.Container {
  display: flex;
  justify-content: center;
}

.FormLogin {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UsernameField {
  margin-bottom: 25px;
}
.Submit {
  width: 40%;
}
